html { background: transparent }

body{
  background-image: url('../images/lyonnette.png');
  font-family: SofiaProLightRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888;
}

h1, h2, h3, h4, h5 {
  font-family: AvianoSansLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: purple;
}

a:hover {
  color: purple;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a.carousel-control {
  color: #ffffff;
}

a.carousel-control:hover {
  color: #ffffff;
  text-decoration: none;
}

a.carousel-control:visited {
  color: #ffffff;
}

#main {
  background: white;
  padding-top: 20px;
  padding-bottom: 40px;
}

#menu {
  margin: 30px 20px 0 20px;
  font-family: AvianoSansLight, Arial, sans-serif;
  text-transform: uppercase;
}

#breadcrumbs {
  margin: 10px 0 0 42px;
}

.center-content{
  text-align: center; 
}

.margin{
  padding:40px;
}

.horizontal-margin{
  padding: 0 40px;
}

.subhead{
  margin-top:10px;
  margin-bottom:10px;
  font-family: AvianoSansLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 34px;
}

#social-links a {
  font-size: 20px;
  padding: 10px 5px;
}

.collections-row {
  margin: 0;
}

.collections-item {
  margin: 10px;
  float: left;
}

.collections-caption {
  display: block;
  width: 100%;
  text-align: center;
}

.invitation-detail-section-horizontal {
  position: relative;
  height: 300px;
}

.invitation-detail-section-vertical {
  position: relative;
  height: 440px;
}

.invitation-detail-vertical-content {
  position: absolute;
  bottom: 0;
  left: 0;
}

.image-thumbnails {
  margin-top: 15px;
}

.collections-browse-link {
  font-size: 60px;
}
.collections-browse-container {
  margin-top: 200px;
  text-align: center;
}

.invitation-picture-frame {

}

.image-thumbnail {
  width: 80px;
  height: 100px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.255);
  margin-right: 10px;
}

.invitation-detail-image {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.255);
}

.invitation-detail-a7-vertical {
  width: 320px;
  height: 440px;
}

.invitation-detail-a7-horizontal {
  width: 440px;
  height: 320px;
}

.invitation-detail-n10-vertical {
  width: 240px;
  height: 540px;
}

.invitation-detail-n10-horizontal {
  width: 540px;
  height: 240px;
}

.invitation-detail-4bar-horizontal {
  width: 320px;
  height: 230px;
}