/* Main Styles */

html { background: transparent }

#main {
  min-height: 800px;
}

body{
  background-image: url('../images/lyonnette.png');
  font-family: SofiaProLightRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888;
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-family: AvianoSansLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: purple;
}

a:hover {
  color: purple;
  text-decoration: none;
}

a:visited {
  color: purple;
}

.vertical-align {
  vertical-align: middle;
}

.center-content{
  text-align: center; 
}

.divider {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

#breadcrumbs {
  margin: 10px 0 0 42px;
}

.row-spaced {
  margin-top: 20px;
}



/* Navigation */

.navbar-default {
  border: none;
}

#social-links {
  float:left;
}

#social-links a {
  font-size: 20px;
  padding: 10px 5px;
}

.navbar-toggle {
  float:left;
}



/* Home Page */

a.carousel-control {
  color: #ffffff;
}

a.carousel-control:hover {
  color: #ffffff;
  text-decoration: none;
}

a.carousel-control:visited {
  color: #ffffff;
}

#main {
  background: white;
  padding-top: 20px;
  padding-bottom: 40px;
}

#menu {
  margin: 0 auto;
  font-family: AvianoSansLight, Arial, sans-serif;
  text-transform: uppercase;
  max-width: 1000px;
  background-color: white;
  border-bottom: 1px solid #e7e7e7;
}

.main-page-style {
  max-width: 1000px;
  margin: 0 auto;
}

.home-thumbs {
  margin-top: 30px;
}

/*#left {
  padding: 20px 10px 20px 0px;
}

#middle {
  padding: 20px 10px 20px 10px;
}

#right {
  padding: 20px 0px 20px 10px;
}*/

.main-page-title img {
  position: relative;
  left: 600px;
  margin-left: -50%;
  width: 570px;
  height: 51px;
}

#invitation-carousel {
  max-width: 1000px;
  margin: 0 auto;
}

#thumbnails {
  max-width: 1000px;
  margin: 0 auto;
}

.subhead{
  margin-top:10px;
  margin-bottom:10px;
  font-family: AvianoSansLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 34px;
}

.tk-sofia-pro {
  font-family: "sofia-pro",sans-serif;
  font-style: normal;
  font-weight: 200;
  color: #785b82;
  font-size: 1.5em;
  padding: 3% 9.5%;
}

.filigree {
  margin: 0 auto;
  display: block;
  padding-top: 10px;
}

.top {
  display: none;
}

@media(max-width:400px) {
  .tk-sofia-pro {
    font-size: 1.2em;
  }
  .filigree {
    width: 70%;
  }
}

@media(max-width:768px) {
  .top {
    display:block;
    text-align: center;
    margin-top: 20px;
  }
}




/* Collections */

.collections-item {
  margin: 10px;
  float: left;
}

.collections-caption {
  display: block;
  width: 100%;
  text-align: center;
}



/* Invitation detail*/

.collections-browse-link {
  font-size: 60px;
}
.collections-browse-container {
  margin-top: 200px;
  text-align: center;
}

.invitation-main {
  margin-top: 30px;
  margin-left:3%;
}

.invitation-detail-image {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.255);
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

@media(max-width:768px) {
  .invitation-info {
    margin-top: 30px;
  }
}

.name-description {
  max-width: 450px;
}

.pricing {
  margin-top: 20px;
  margin-bottom: 20px;
}

.share-row {
  min-width: 250px;
}

.share-links {
  padding: 0;
  min-width: 60px;
  margin-right: 10px;
}

.share-links a {
  color: #777;
  text-shadow: 0 1px 0 white;
}

.share-links i {
  font-size: 20px;
  width: 20px;
}

#share-pinterest {
  padding-left:10px;
}

.image-thumbnails {
  margin-top: 30px;
}

.image-thumbnail {
  width: 60px;
  height: 80px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.255);
  margin-right: 2px;
}

.image-thumbnail-a7-vertical {
  width: 60px;
  height: 80px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.255);
  margin-right: 10px;
}

.image-thumbnail-a7-horizontal {
  width: 80px;
  height: 60px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.255);
  margin-right: 10px;
}

.image-thumbnail-n10-vertical {
  width: 35px;
  height: 80px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.255);
  margin-right: 10px;
}

.image-thumbnail-n10-horizontal {
  width: 80px;
  height: 35px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.255);
  margin-right: 10px;
}

.image-thumbnail-4bar-vertical {
  width: 43px;
  height: 60px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.255);
  margin-right: 10px;
}

.image-thumbnail-4bar-horizontal {
  width: 60px;
  height: 43px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.255);
  margin-right: 10px;
}



/*

#invitation-detail {
  height: 460px;
  margin-bottom: 20px;
}

.invitation-detail-section-horizontal {
  position: relative;
  height: 300px;
}

.invitation-detail-section-vertical {
  position: relative;
  height: 440px;
}

.invitation-detail-vertical-content {
  position: absolute;
  bottom: 0;
  left: 0;
}

.invitation-detail-image-container {
  width: 460px;
  height: 460px;
}

.invitation-detail-a7-vertical {
  width: 320px;
  height: 440px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -220px;
}

.invitation-detail-a7-horizontal {
  width: 440px;
  height: 320px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -220px;
  margin-top: -160px;
}

.invitation-detail-n10-vertical {
  width: 204px;
  height: 460px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -102px;
  margin-top: -230px;
}

.invitation-detail-n10-horizontal {
  width: 460px;
  height: 204px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -230px;
  margin-top: -102px;
}

.invitation-detail-4bar-horizontal {
  width: 320px;
  height: 230px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -115px;
}

.invitation-detail-4bar-vertical {
  width: 230px;
  height: 320px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -115px;
  margin-top: -160px;
}

*/

/* Process */

.proccess-icons {
  padding-top: 40px;
  padding-bottom: 40px;
  display: block;
  text-align: center;
}

.process-text {
  text-align: center;
}


/* FAQ */

.row-faq-section {
  margin-top: 30px;
}

.row-section {
  margin-top: 30px;
}

.faq-first-question {
  font-style: italic;
  color: black;
}

.faq-question {
  font-style: italic;
  margin-top: 15px;
  color: black;
}



/* Pricing */

#pricing-included-list {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

#pricing-included-list li:before{
  content: "\00BB \0020";
}

@media(max-width:420px) {
  .price-headings h4 {
    font-size: .9em;
  }
  .price-headings h4 small {
    font-size: 90%;
  }
  .price h3 {
    font-size: 1.4em;
  }
}


/* Testimonials */

.testimonial {
  /*margin: 5em 5em 5em 2.5em;*/
  text-align: justify;
  padding-bottom: 2em;
  border-left:none;
}

.testimonial::after {
  padding-top:16px;
}

.testimonial-thumbnails {
  text-align: center;
}

/*

.testimonial-thumbnails-container {
  width: 460px;

}

.testimonial-thumbnails {
  width: 300px;
  height: 80px;
  position: relative;
  left: 50%;
  margin-left: -140px;
}

*/

.row-section-spacer {
  margin: 80px 0;
}

.row-section-spacer > hr {
  margin: 0px 100px;
}



/* About */
.img-text-flow-left {
  float: left; 
  margin: 0 40px 20px 0; 
  width: auto; 
  height: 300px;
}

.img-text-flow-right {
  float: right; 
  margin: 10px 0 20px 40px; 
  width: auto; 
  height: 300px;
}

@media(max-width:400px) {
  .img-text-flow-left {
    display: block;
    margin: 20px auto;
    float: none;
  }
}

.letter-closing {
  margin-top: 40px;
}

.story-signature {
  width: 250px;
}


/* Contact */
#wuf-adv {
  display:none !important; 
}

.contact-email {
  text-align: center;
}

.contact-form-descr {
  max-width: 760px;
}


.footer {
  border-top: 1px solid #bcbec0;
  color: #785b82;
  margin-top: 30px;
  margin-left: 4%;
  margin-right: 4%;
}

.footer-left {
  float:left;
  margin-left: 6%;
  padding-right: 20px;
}

.footer-right {
  text-align: right;
  margin-right: 6%;
  margin-left:6%;
}

.copyright {
  margin-left: 6%;
  font-size: .9em;
}

@media(max-width:775px) {
  .footer-right {
    text-align: left;
  }
}
