<div id="header" class="row-fluid">
  <div class="span12 center-content">
    <a href="index.html">
      <img src="../images/logohome.png" width="160" height="auto">
    </a>
  </div>
</div>


<div id="menu" class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="dropdown">
        <a href="collections.html">collections</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          design services
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">the process</a>
          </li>
          <li>
            <a href="#">prices</a>
          </li>
          <li>
            <a href="#">testimonials</a>
          </li>
          <li>
            <a href="#">F.A.Q.</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          about
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">my story</a>
          </li>
          <li>
            <a href="#">contact</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul id="social-links" class="nav pull-right">
      <li>
        <a href="#">
          <i class="icon-pinterest"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="icon-twitter"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="icon-facebook"></i>
        </a>
      </li>
    </ul>
  </div>
</div>